.new-container a{
	text-decoration:none !important;
	pointer:courser;
}
.header-navbar {
    /*background-color: #2874f0;*/
	background: #67B26F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-bottom: 2px solid #d3d3d3;
	/*    margin-right: -2px !important;
    padding-right: 0px !important;*/
}
.lsts{
	padding-bottom: 0px !important;
}
.footer{
	/*position:relative;
	/*position:absolute !important;
	bottom:-50px !important;
	left:0px !important;
	padding-top:20px;
	/*background-color: #2874f0;*/
	background: #67B26F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@media screen and (max-width: 568px) {
    .footer {
		display:none;
    }
}
@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}
#newcontainer {
    margin-top: 160px !important;
    padding-top: 0px !important;
    padding-right: 15px;
    padding-left: 15px;
}
@media screen and (max-height: 450px) {
  #newcontainer{
		  margin-top: 10px !important;
	}
}
.row {
    /*margin-right: -1px !important;*/
    margin-left: -15px;
}
/*@media (min-width: 992px){
.col-md-12 {
    width: 100%;
    margin-right: 0px !important;
    padding-right: 0px !important;
}*/
.row2 {
  padding-top: 10px;
  padding-bottom: 5px;
  /*margin-right: -200px;*/
  margin-left: -20px;
}
.auth-links{
  float:left;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}

.upper-links {
    display: inline-block;
    padding:20px 15px;
    line-height: 10px;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 0;
	float: right;
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
}
.list-chr a{
	padding-left:5px;
	padding-right:5px;
}
.upper-links a:hover{
  color: yellow !important;
  border-bottom: 3px solid yellow;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
    padding-bottom: 20px ;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}
.mob-link {
	color: #000 !important;
}
.mob-link:hover {
  color: #2874f0 !important;
  border-right: 6px solid #2874f0;
}
.dark-gray{
	font-size: 18px !important;
	  border-bottom:1px solid #afaeaea3;
		color:#000 !important;
		font-family: arial;
}
.dark-gray:hover{
  color:#333 !important;
  border-right: 6px solid #333;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}

.largenav {
    display: none;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 900px){
    .largenav {
        display: block;
        padding-top: 0px;
    }
    .largenav ul{
      margin-left: 100px;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 50px;
    }
}


/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: #fff;*/
	background-image: url("./img/auth-back.jpg") !important;
	background-size:100%;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 16px;}
}

@media screen and (max-height: 650px){
	.carousel-indicators{
		display:none !important;

	}
}
.sidenav-heading{
    font-size: 36px;

    color: #fff;
}
.sml{
		 background: linear-gradient(to right, #4ca2cd, #67B26F);
	  border-bottom: 2px solid #636363;
}
.sml img{
	padding-left:20px;
	padding-top:40px;
	padding-bottom:20px;
}
/*----------------------------- Navbar End --------------------*/

.dash-box{
	border-radius:0px !important;
	background-color: dodgerblue;
	padding-top:20px;
	/*padding-bottom:20px;*/
	margin-left:-10px !important;
	margin-right:-10px !important;
	margin-bottom:10px !important;
	border:1px solid #0060bd;
	box-shadow: inset 0px 0px 5px 0px #0060bd;
}
.dash-box p{
	text-align:center;
}
.texts{

	font-size:40px !important;
	color:#fff !important;
	font-family:verdana;
	text-align:center !important;
}
@media screen and (max-width: 768px) {
    .texts {
        font-size:30px !important;
    }
}

@media screen and (max-width: 568px) {
    .texts {
        font-size:1em !important;
    }
}

.dash-box:hover {
	background-color: #0060bd;
	transition:1s all;
	/*border-bottom:4px solid #333;
	border-style: inset;*/
}
.cat{
	margin-top:30px !important;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    border-radius: 0px !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.new-container {
	margin-top:30px;
	padding-top:0px !important;
    padding-right: 15px;
    padding-left: 15px;
   /* margin-right: 20px;
    margin-left: 30px;
	margin-bottom:236px;*/
}
.foot-well-copy{
	margin:3px !important;
	border:none !important;
	background-color: transparent !important;
}
.foot-well-copy p{
	color:yellow;
	text-align:center;
	font-family:verdana;
}
.foot-well p{
	color:yellow;
	text-align:center;
	font-family:verdana;
}
.foot-well h2{
	color:yellow;
}
.foot-well a{
	color:white;
	text-decoration:none;
}
.foot-well{
	margin:5px !important;
	padding-top:0px !important;
	border:none !important;
	background-color: transparent !important;
}
.new-panel{
	margin-top:45px !important;
}
.lrg{
	width:200px ;
	text-align:center;
}
@media screen and (max-width: 568px) {
    .lrg {
       width:70px ;

	   text-align:left;
    }
}


body {
  font: 16px / 1.414 "Open sans", "Trebuchet MS", arial, sans-serif;
  color: $color--text;
  background: #f1f1f1;
}
a,
input[type="submit"],
.form__link {transition: all .25s ease;}

hidden {display: none;}
small {
  display: block;
  margin-top: 1rem;
  font-size: remy(13px);
  text-align: center;
}
/**
 * Animation keyframes

@-webkit-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
/**
 * Layout
 */
.flipper__checkbox:checked + .form__container
.form__container {
  width: 100%;

  margin-bottom:20px !important;
}
.form__container--inner {padding: 2rem;}
.form__login,
.form__signup {

	top: 0;
	left: 0;
  margin: 0;
  width: 100%;
  background: #fff;
  box-shadow: 3px 3px 32px rgba(0,0,0,.25);

	/*background: -webkit-linear-gradient(to bottom, #4ca2cd, #67B26F);
	background: linear-gradient(to bottom, #4ca2cd, #67B26F);*/
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
  }
}
.form__login {
 /* z-index: 2;*/
  padding: 2rem;
	/* for firefox 31 */
  /*background: -webkit-linear-gradient(to bottom, #4ca2cd, #67B26F);
background: linear-gradient(to bottom, #4ca2cd, #67B26F);*/
  text-align: left;
}
.form__login h1{
	color:white !important;
}
.form__signup {
  padding: 2rem;
	border-top: 4px solid #9c9b9b ;
		margin-top: 15px !important;
		margin-bottom: 10px !important;

	/*margin-left: -3.95rem;*/
  /*background: -webkit-linear-gradient(to bottom, #4ca2cd, #67B26F);
background: linear-gradient(to bottom, #4ca2cd, #67B26F);*/
  /*z-index: 2*/
}
[type="checkbox"] {
  position: relative;
  margin-right: .5rem;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $color--border;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: $radius;
    cursor: pointer;
  }
}
label[for="checkbox"] {
  position: relative;
  font-size: .9rem;
  font-weight: 700;
}
.checkbox--forget:checked + .icon--checkbox {
  opacity: 1;
  transform: scale(1);
}

.form__link {
  font-size: .8rem;
  font-weight: bold;
  text-decoration: underline;
  color: rgba($color--text,.75);
  cursor: pointer;
  &:focus,
  &:hover {color: rgba($color--text,.95);}
}
.link--right {float: right;}
.form__button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #2196f3;
  border: 0;
  border-radius: $radius;
  cursor: pointer;
  &:focus,
  &:hover {background-color: darken(#2196f3, 13%);}
}

/*input::placeholder{
	color:#333 !important;
	font-family:verdana;
	font-size:15px;
	padding-left:20px;

}
input{

	margin-left:30px;
	margin-right:30px!important;
	width:300px !important;
	border-bottom:3px solid #333 !important;
	border-top:0px solid white!important;
	border-left:0px solid white!important;
	border-right:0px solid white!important;
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition:.15s ;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

	}
@media screen and (min-width: 200px) {
    input{
	width:300px !important;
	margin-left:5px!important;
	}
	#ingly {
    position: absolute;
    top: 41%;
    left: 23%;
	}
}
@media screen and (max-width: 900px){
input{
	width:170px !important;
	}
	#ingly {
    position: absolute;
    top: 42%;
    left: 36%;
	}
}
background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
/*----------------- form input glyphicons ----------------------
.singform-btn{
			    background: -webkit-linear-gradient(right, #f902fe, #8b62f0, #07d6df);
			width: 50% !important;
			padding-top: 20px;
			padding-left: 30px;
			border-radius: 25px;
			-webkit-transition:  2s;
	transition:  2s
	text-align:center;
	font-family: verdana;
}
.singform-btn:hover{
	background: -webkit-linear-gradient(right, #00dfff,#7675ed, #ea0ffc);
	}
}
.login100-form-bgbtn{
	z-index: 1 !important;
}*/
.sub-btn{
	background: -webkit-linear-gradient(left, #00dfff,#7675ed, #ea0ffc) !important;
	width: 60% !important;
	border-radius: 30px !important;
	font-size: 18px !important;
	color: #fff !important;
	padding: 10px 0px;
	border:1px solid  #ffffff00 ;
}
.sub-btn{

}
.button8{
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	border-color:#ffffff00 ;
	position: relative;
	background: -webkit-linear-gradient(left, #00dfff,#7675ed, #ea0ffc) !important;
	border-radius: 25px;
}
.button8 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button8 span{
	z-index: 2;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}
.button8::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	/*z-index: 1;*/
	opacity: 0;
	border-color:#ffffff00 ;
	background: -webkit-linear-gradient(right, #00dfff,#7675ed, #ea0ffc);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 25px;

}
.button8:hover::before{
	opacity: 1;
	width: 100%;
	background: -webkit-linear-gradient(right, #00dfff,#7675ed, #ea0ffc);
}
.sim-button{
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	background: -webkit-linear-gradient(right, #00dfff,#7675ed, #ea0ffc);
	margin-left: auto;
	margin-top: 9px;
	width: 60%;
	cursor: pointer;
}
#ingly {
    position: absolute;
    top: 41%;
    left: 16%;
}
.login-btn{
	padding:15px  30px!important;
	background-color:white;
}
.login-btn:hover{
	background: -webkit-linear-gradient(to top, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #4ca2cd, #67B26F);
	border:1px solid white;
}
.p-t-90 {
    padding-top: 20px;
	padding-bottom:10px;
}
.p-b-34 {
    padding-bottom: 15px !important;
}
.p-t-27 {
    padding-top: 10px !important;
}
.txt1 {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}
.txt1:hover{
	color: dodgerblue
}
.label-input100{
	color:#333;
}
.auth-model{
	background-image: url("img/auth-back.jpg") !important;
	background-size:100%;

}
.new-auth-btn{

    display: block;
    width: 60% !important;
}
.new-model{
	margin-top:20px !important;
	background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F) !important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4ca2cd, #67B26F) !important;
}
@media screen and (max-width: 768px) {
    .cont-body a{
        font-size:18px ;
    }
}

@media screen and (max-width: 568px) {
    .cont-body a{
        font-size:14px ;
    }
}
#gcap{
	padding-top:20px !important;
}
